@model GymManagementApp.Models.HizmetPaketi

@{
    ViewData["Title"] = "Edit";
}

<h1>Hizmet Paketi Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Aciklama" class="control-label fw-bold"></label>
                <textarea asp-for="Aciklama" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Sure" class="control-label fw-bold"></label>
                <select asp-for="Sure" class="form-select">
                    <option value="30">30 Dakika</option>
                    <option value="60">60 Dakika (1 Saat)</option>
                    <option value="90">90 Dakika (1.5 Saat)</option>
                    <option value="120">120 Dakika (2 Saat)</option>
                </select>
                <span asp-validation-for="Sure" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EgitmenId" class="control-label fw-bold">Eğitmen Seçimi</label>
                <select asp-for="EgitmenId" class="form-select" asp-items="ViewBag.EgitmenId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ucret" class="control-label"></label>
                <input asp-for="Ucret" class="form-control" />
                <span asp-validation-for="Ucret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
